$login-background: #f5f5f5;
$login-backgroundd: #e0e0e0;

body {
  position: relative;
  padding-bottom: 48px;
  margin: 0px;
}

.user-details {
  margin: 0 auto;
  width: 25%;
  text-align: justify;
}

.footer-container {
  position: absolute;
  bottom: 0px;
  width: 100%;

  height: 48px;
  left: 0px;
}
.footer-paper {
  height: 100%;
  background-color: #e0e0e0;
  width: 75%;

  padding: 0px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  display: block;
}

.header-toolbar {
  background-color: #757575;
  color: #eeeeee;
}
// .login-container-upper {
//   // display: table;
//   // height: 100%;
//   // width: 100%;
//   // margin-bottom: -48px;
//   // margin-top: -56px;
//   // background-color: $login-background;
//   //
//
// }
//
.user-details-paper {
  padding: 8px;
}

.workout-log-container,
.workout-target-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  cursor: pointer;
}

.sign-up-button-container{
  margin-top: 15px;
}

.current-slider {
  text-align: center;
}

.login-paper,
.sign-up-paper,
.workout-log-paper,
.workout-target-paper {
  padding: 30px;
}
.main-container {
  margin: 8px;
}

.login-outer {
}

// .sign-up-container {
//
// }

.fixed-floating-button {
  position: fixed;
  bottom: 68px;
  right: 20px;
}

.fixed-floating-button-mini {
  position: fixed;
  bottom: 68px;
  right: 100px;
}

.login-container,
.sign-up-container {
  background-color: white;
  text-align: center;
  align-items: center;
  // margin-left: auto;
  // margin-right: auto;
  // width: 25%;
  //
  display: flex;
  // text-align: center;
  //
  height: 95%;
  // padding: 20px;
  margin-bottom: -48px;
  // margin-top:  -56px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.col {
  box-sizing: border-box;
}

.col-4 {
  float: left;
  text-align: center;
  padding: 10px;
  width: 33%;
}

.col-3 {
  float: left;
  text-align: center;
  padding: 10px;
  width: 25%;
}

.col-6 {
  float: left;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.col-12 {
  padding: 10px;
  float: left;
  text-align: center;
  width: 100%;
}

.row {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.parent-paper {
  padding: 20px;
}

.log-form-inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}

.row::after {
  clear: both;
}

.clear {
  clear: both;
}

.calorie-target .col-6 {
  text-align: left;
}

@media screen and (max-width: 1200px) {
  .login-container-inner {
    // width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .login-container-inner {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .calorie-target .col-6 {
    float: none;
    width: 100%;
  }
}
