$login-background : #E0E0E0;

body {
  position: relative;
  padding-bottom: 48px;
  margin: 0px;
}

.user-details {
  margin: 0 auto;
  width: 25%;
  text-align: justify;
}


.login-container-upper {
  display: table;
  height: 100%;
  width: 100%;
  background-color: $login-background;
}

.workout-log-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.lil { cursor: pointer; }
.login-container-middle {
  display: table-cell;
  vertical-align: middle;
}

.login-container-inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.col {
  box-sizing: border-box;
}

.col-4 {
  float: left;
  text-align: center;
  padding: 10px;
  width: 33%;
}

.col-3 {
  float: left;
  text-align: center;
  padding: 10px;
  width: 25%;
}

.col-6 {
  float: left;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.col-12{
  padding: 10px;
  float: left;
  text-align: center;
  width: 100%;
}

.row {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.parent-paper {
  padding: 20px;
}

.log-form-inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}

.row::after{
  clear: both;
}

.llll {


}

.clear {
  clear: both;
}

.calorie-target .col-6 {

 text-align: left;
}

@media screen and (max-width: 1200px) {
  .login-container-inner {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .login-container-inner {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .calorie-target .col-6 {
    float:none;
    width: 100%;
  }
}
